<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bcilab.tremorapp">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo2"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".PatientListActivity"
            android:windowSoftInputMode="adjustNothing"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PersonalPatientActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".TaskSelectActivity" android:screenOrientation="portrait" />
        <activity android:name=".SpiralActivity" android:screenOrientation="portrait" />
        <activity android:name=".ResultActivity" android:screenOrientation="portrait" />
        <activity android:name=".AnalysisActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".LineActivity" android:screenOrientation="portrait" />
        <activity android:name=".PersonalResultActivity" android:screenOrientation="portrait"></activity>
    </application>
</manifest>